


body{
   
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEfRovzm7v0QL4nzsTt55ueGmXOUsjJoQecg&usqp=CAU");
    background-repeat:no-repeat;
	background-size: cover;
}

nav {
  display: flex;
  padding: 10px;
  /* border: rgb(170, 47, 47); */
}
nav h1 {

  color: brown;
  margin: 0;
}
nav a {
  color: white;
  text-decoration: none;
  background:palevioletred;
  padding: 15px;
  /* border-radius: 10px; */
}
form {
  max-width: 350px;
}
input, textarea {
  display:grid;
  margin: 16px 0;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-family:Georgia, 'Times New Roman', Times, serif
}

/* .book-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  
    width: 100px;
    height: 50px;
    padding: 100px;
   
    box-shadow: 10px 10px grey;
  
  max-width: 100px;
  height: 200px;
  margin: auto;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 50px;
  float:left;
  color:#000;
} */
.book-card {
  
  max-width: 500px;
  height: 400px;
  margin: auto;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 20px;
  float:left;
  color:#000;
}




